<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" data-bs-theme="dark">
<head>
    <title>История заказов</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
</head>
<body>
<header th:insert="~{blocks/header :: header}"></header>
<main>
    <div class="container mt-5 mb-5">
        <h4>Ваши покупки</h4><br>

        <div>
            <a th:href="@{/orderHistory(filter='active')}"
               th:class="'btn btn-outline-success ' + (${filterStatus == 'active'} ? 'active' : '')">Активные заказы</a>
            <a th:href="@{/orderHistory(filter='completed')}"
               th:class="'btn btn-outline-secondary ' + (${filterStatus == 'completed'} ? 'active' : '')">Завершенные заказы</a>
        </div>

        <div class="contentOrder" style="width: 500px;">
            <ul class="list-group mt-4">
                <li th:each="item : ${orderItems}" class="list-group-item d-flex justify-content-between align-items-center" style="margin-bottom: 15px;"
                    th:if="${(filterStatus == 'active' && !item.isPaid) || (filterStatus == 'completed' && item.isPaid)}">
                    <div>
                        <h4 th:text="'Заказ №' + ${item.id}"></h4>
                        <h4 th:text="'Сумма: ' + ${item.resultPrice + ' руб.'}"></h4>
                    </div>
                    <a th:href="'/orderHistory/' + ${item.id}" class="btn btn-outline-light">Подробнее</a>
                </li>
            </ul>
        </div>
    </div>
</main>
<div th:insert="~{blocks/footer :: footer}"></div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
</body>
</html>