<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Меню ресторана</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
</head>
<body>
    <header th:insert="~{blocks/header :: header}"></header>
    <main>
        <div class="container mt-5">
            <h1>Меню</h1>
            <div th:each="el : ${menus}" class="alert, alert-info, mt-2">
                <h3 th:text="${el.name}"/>
                <p th:text="${el.price} + ' руб.'"></p>
                <a th:href="'/menu/' + ${el.foodId}" class="btn btn-warning">Подробнее</a>
            </div><br>
            <a th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}"
               href="/menu/add" class="btn btn-success">Добавить блюдо в меню
            </a>
        </div>
    </main>
    <div th:insert="~{blocks/footer :: footer}"></div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
</body>
</html>